---
import Layout from '../layouts/Layout.astro';
import UserPanel from '../components/UserPanel.astro';

// Hard-coded values for this simple example but API calls can be made in the script section
const pages = ['Home', 'Blog', 'About us', 'Contact us'];

// Hard-coded User object but we could retrieve a user session from
//   our Authentication provider, decode a JWT or read cookies
const currentUser = {
  name: 'John Doe',
  isAdmin: true
};
---

<Layout pageTitle="Home page">
  <h1>Astro</h1>
  <button>Click me</button>
  <ul>
    {pages.map((page) => <li>{page}</li>)}
  </ul>
  <UserPanel userName={currentUser.name} isAdminUser={currentUser.isAdmin} />
</Layout>

<script src="../scripts/index"></script>
<script is:inline src="/external-script.js" defer></script>
