---
import Layout from '../layouts/Layout.astro';
import UserPanel from '../components/UserPanel.astro';
import { Counter as ReactCounter } from '../components/ReactCounter';
import VueCounter from '../components/VueCounter.vue';

// Hard-coded values for this simple example but API calls can be made in the script section
const pages = ['Home', 'Blog', 'About us', 'Contact us'];

// Hard-coded User object but we could retrieve a user session from
//   our Authentication provider, decode a JWT or read cookies
const currentUser = {
  name: 'John Doe',
  isAdmin: true
};
---

<Layout pageTitle="Home page">
  <h1>Astro</h1>
  <ReactCounter client:load><h3>This is a React island</h3></ReactCounter>
  <VueCounter client:load><h3>This is a Vue island</h3></VueCounter>
  <button>Click me</button>
  <ul>
    {pages.map((page) => <li>{page}</li>)}
  </ul>
  <UserPanel userName={currentUser.name} isAdminUser={currentUser.isAdmin} />
</Layout>

<script src="../scripts/index"></script>
<script is:inline src="/external-script.js" defer></script>

<!-- https://github.com/withastro/astro/blob/latest/examples/framework-multiple/src/styles/global.css -->
<style is:global>
  .counter {
    display: grid;
    font-size: 2em;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    margin-top: 2em;
    place-items: center;
  }

  .counter-message {
    text-align: center;
  }
</style>
